details {
  margin-bottom: 1rem;
}

summary {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.summary-line {
  flex: 1;
  height: 1px;
  background: #ddd;
}

.noTasks {
  text-align: center;
  background-color: #708090;
  border-radius: 16px;
  width: 200px;
  color: white;
  padding: 4px;
  margin-inline: auto ;
}
