div {
  padding-top: 24px;
  width: 100%;
}
#formID {
  border-radius: 16px;
  padding: 16px;
  width: min-content;
  background-color: #70809040;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding-left: 8px;
  margin: auto;
  display: block;
  height: 24px;
  margin-bottom: 8px;
  border-radius: 4px;
}
input:focus {
  border: 2px solid darkslategray;
  outline: none;
}

input[type='button'] {
  width: 72px;
}
