header {
  width: 100%;
  height: 150px;
  background-color: slategray;
  position: relative;
  display: flex;
}
h1 {
  position: absolute;
  top: 20%;
  padding-left: 24px;
  color: white;
}
p {
  display: inline;
  padding-inline: 50px;
  font-size: 20px;
  color: white;
}
#navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: self-end;
}
#counter{
  width: 250px;
  padding: 16px;
}
