.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sidebar-col {
  width: 20%;
  padding: 0;
  display: flex;
}

.main-col {
  width: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
